/* =============================================================================
   Screen size variables
   ========================================================================== */
/* =============================================================================
   Media queries for different screen sizes
   ========================================================================== */
.dark-text {
  opacity: 0.6;
}
.navigation-bar {
  width: 100%;
  padding: 0 0 0 30px;
  height: 48px;
  background: #666EE8;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-bar .toggle {
  background: url('../images/toggle@2x.png') no-repeat;
  background-size: 19px 14px;
  width: 19px;
  height: 14px;
  position: relative;
  margin-left: 2px;
  cursor: pointer;
  top: 6px;
  display: inline-block;
}
.navigation-bar .toggle.inactive {
  background: url('../images/toggle-inactive@2x.png') no-repeat;
  background-size: 11px 6px;
  width: 11px;
  height: 6px;
  top: -1px;
  margin-left: 8px;
}
.navigation-bar .left-pane .label {
  opacity: 0.6;
  margin-right: 9px;
  display: inline-block;
}
@media (max-width: 767px) {
  .navigation-bar .left-pane .label {
    display: none;
  }
}
@media (max-width: 767px) {
  .navigation-bar .left-pane .lang-select {
    line-height: 22px;
  }
}
.navigation-bar .left-pane .contacts {
  margin-left: 35px;
}
.navigation-bar .left-pane .contacts .work-hours {
  opacity: 0.6;
  margin-right: 9px;
  display: inline-block;
}
@media (max-width: 767px) {
  .navigation-bar .left-pane .contacts .work-hours {
    display: none;
  }
}
@media (max-width: 767px) {
  .navigation-bar .left-pane .contacts {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .navigation-bar .left-pane {
    margin-left: -10px;
    display: flex;
    flex-direction: column;
  }
}
.navigation-bar .right-pane {
  height: 100%;
  display: flex;
}
.navigation-bar .right-pane .icon-block {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 106px;
  height: 100%;
  margin: 0 18px;
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .icon-block .title {
    display: none;
  }
}
.navigation-bar .right-pane .icon-block.small {
  width: 78px;
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .icon-block.small {
    width: 20px;
  }
}
.navigation-bar .right-pane .icon-block .icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.navigation-bar .right-pane .icon-block .icon.account {
  background: url('../images/account.svg') no-repeat;
}
.navigation-bar .right-pane .icon-block .icon.cart {
  background: url('../images/cart.svg') no-repeat;
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .icon-block .icon {
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .icon-block {
    width: 20px;
  }
}
.navigation-bar .right-pane .search-input {
  width: 251px;
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.05);
}
.navigation-bar .right-pane .search-input input {
  outline: none;
  background: transparent;
  border: none;
  width: 175px;
  margin-left: 46px;
  margin-top: -1px;
  height: 100%;
  color: white;
}
.navigation-bar .right-pane .search-input input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .search-input input::-webkit-input-placeholder {
    color: transparent;
  }
}
.navigation-bar .right-pane .search-input input:-moz-placeholder {
  color: white;
  opacity: 0.5;
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .search-input input:-moz-placeholder {
    color: transparent;
  }
}
.navigation-bar .right-pane .search-input input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .search-input input::-moz-placeholder {
    color: transparent;
  }
}
.navigation-bar .right-pane .search-input input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .search-input input:-ms-input-placeholder {
    color: transparent;
  }
}
.navigation-bar .right-pane .search-input input:focus {
  outline: none;
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .search-input input {
    width: 80px;
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .navigation-bar .right-pane .search-input input {
    margin-left: 30px;
  }
}
.navigation-bar .right-pane .search-input .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -8px;
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .search-input .icon {
    left: 2px;
    transform: scale(0.5);
  }
}
@media (max-width: 767px) {
  .navigation-bar .right-pane .search-input .icon {
    left: 10px;
    transform: none;
  }
}
@media (max-width: 991px) {
  .navigation-bar .right-pane .search-input {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .navigation-bar .right-pane .search-input {
    margin-top: 18px;
    height: 40%;
  }
}
@media (max-width: 991px) {
  .navigation-bar {
    margin-left: -600px;
    margin-right: -600px;
  }
}
@media (max-width: 767px) {
  .navigation-bar {
    height: 57px;
  }
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
button {
  outline: none !important;
}
.select-device .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .select-device .container .logo-text {
    padding-left: 10px;
  }
}
.select-device .container .select-input {
  display: flex;
  width: 415px;
  height: 42px;
  border-radius: 100px;
  background: #FFFFFF;
  border: 1px solid #E4E5EC;
  box-sizing: border-box;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
  align-items: center;
  padding: 0 6px;
}
.select-device .container .select-input .buy-sell {
  display: flex;
  align-items: center;
  width: 119px;
  height: 30px;
  background: #F4F5FA;
  border-radius: 100px;
  position: relative;
}
.select-device .container .select-input .buy-sell .button {
  font-size: 12px;
  text-transform: uppercase;
  color: #FF2E49;
  width: 50%;
  text-align: center;
  position: relative;
  z-index: 20;
  cursor: pointer;
  transition: color 0.3s ease-out;
  outline: none !important;
}
.select-device .container .select-input .buy-sell .button :active {
  outline: none !important;
}
.select-device .container .select-input .buy-sell .button.active {
  color: #fff;
  outline: none !important;
}
.select-device .container .select-input .buy-sell .button.active :active {
  outline: none !important;
}
.select-device .container .select-input .buy-sell .cell {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #35CF95;
  z-index: 10;
  border-radius: 100px;
  transition: left 0.3s ease-out;
  outline: none !important;
}
.select-device .container .select-input .buy-sell .cell :active {
  outline: none !important;
}
.select-device .container .select-input .buy-sell .cell.right {
  left: 50%;
  outline: none !important;
}
.select-device .container .select-input .buy-sell .cell.right :active {
  outline: none !important;
}
@media (max-width: 767px) {
  .select-device .container .select-input .buy-sell {
    width: 157px;
  }
}
.select-device .container .select-input .select-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66%;
  padding-left: 16px;
}
.select-device .container .select-input .select-wrap .toggle {
  background: url('../images/togglenoshadow@2x.svg') no-repeat;
  background-size: 11px 7px;
  width: 11px;
  height: 7px;
  position: relative;
  cursor: pointer;
  padding-right: 7px;
}
.select-device .container .select-input .select-wrap .select-device {
  line-height: 18px;
  font-size: 14px;
  width: 130px;
  height: 18px;
  outline: none;
  background: transparent;
  border: none;
}
.select-device .container .select-input .select-wrap .select-device::-webkit-input-placeholder {
  color: #A7ABBD;
}
.select-device .container .select-input .select-wrap .select-device:-moz-placeholder {
  color: #A7ABBD;
}
.select-device .container .select-input .select-wrap .select-device::-moz-placeholder {
  color: #A7ABBD;
}
.select-device .container .select-input .select-wrap .select-device:-ms-input-placeholder {
  color: #A7ABBD;
}
.select-device .container .select-input .select-wrap .select-device:focus {
  outline: none;
}
@media (max-width: 767px) {
  .select-device .container .select-input .select-wrap .select-device {
    width: 46px;
  }
}
@media (max-width: 991px) {
  .select-device .container .select-input {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .select-device .container .select-input {
    width: 193px;
    margin-right: 21px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header .left-side {
  height: 100%;
}
.header .left-side .titleText {
  width: 344px;
  height: 88px;
  margin-top: 99px;
}
@media (max-width: 991px) {
  .header .left-side .titleText {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .header .left-side .titleText {
    width: 309px;
  }
}
.header .left-side .describe-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 38px;
  font-size: 24px;
  color: #6B6F81;
  max-width: 75.375%;
  margin-top: 5px;
}
@media (max-width: 991px) {
  .header .left-side .describe-text {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .header .left-side .describe-text {
    max-width: none;
  }
}
.header .left-side .select-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  font-size: 16px;
  color: #6B6F81;
  margin-top: 102px;
}
@media (max-width: 991px) {
  .header .left-side .select-text {
    margin-top: 30px;
  }
}
.header .left-side .select-icon {
  width: 537px;
  height: 82px;
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #E4E5EC;
  box-sizing: border-box;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
  margin-top: 19px;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: none !important;
}
.header .left-side .select-icon .icon-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #E4E5EC;
  outline: none !important;
}
.header .left-side .select-icon .icon-container .icon-container:active {
  outline: none !important;
}
.header .left-side .select-icon .icon-container.watch {
  width: 104px;
  transition: background 0.7s ease-out;
  outline: none !important;
}
.header .left-side .select-icon .icon-container.watch .watch:active {
  outline: none !important;
}
.header .left-side .select-icon .icon-container.mobile {
  width: 101px;
  transition: background 0.7s ease-out;
}
.header .left-side .select-icon .icon-container.mobile .mobile:active {
  outline: none !important;
}
.header .left-side .select-icon .icon-container.tablet {
  width: 108px;
  transition: background 0.7s ease-out;
}
.header .left-side .select-icon .icon-container.tablet .tablet:active {
  outline: none !important;
}
.header .left-side .select-icon .icon-container.laptop {
  width: 111px;
  transition: background 0.7s ease-out;
}
.header .left-side .select-icon .icon-container.laptop .laptop:active {
  outline: none !important;
}
.header .left-side .select-icon .icon-container.desktop {
  width: 111px;
  transition: background 0.7s ease-out;
}
.header .left-side .select-icon .icon-container.desktop .desktop:active {
  outline: none !important;
}
.header .left-side .select-icon .icon-container.active {
  background-color: #8A91FF;
}
.header .left-side .select-icon .icon-container.active svg * {
  fill: #FFFFFF;
}
.header .left-side .select-icon .icon-container.active .active:active {
  outline: none !important;
}
@media (max-width: 767px) {
  .header .left-side .select-icon {
    width: 345px;
  }
}
@media (max-width: 991px) {
  .header .left-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .header .left-side {
    width: 100%;
  }
}
.header .right-side .hands-money {
  width: 397.7px;
  height: 510px;
}
@media (max-width: 991px) {
  .header .right-side {
    display: none;
  }
}
.ben-content-alignment {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 154px;
}
.ben-content-alignment p:first-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  font-size: 18px;
  color: #464855;
  margin-top: 37px;
}
.ben-content-alignment p:last-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: #898EA2;
  line-height: 167%;
}
.benefits {
  display: flex;
  align-items: center;
  height: 423px;
  background-color: #fff;
  flex-direction: column;
}
.benefits .ben-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 26px;
  color: #464855;
  margin-top: 71px;
}
@media (max-width: 767px) {
  .benefits .ben-title {
    margin-top: 33px;
  }
}
.benefits .ben-container {
  display: flex;
  height: 154px;
  align-items: center;
  justify-content: space-between;
  margin-top: 59px;
}
.benefits .ben-container .fast-pay {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 154px;
  width: 31.3%;
}
.benefits .ben-container .fast-pay p:first-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  font-size: 18px;
  color: #464855;
  margin-top: 37px;
}
.benefits .ben-container .fast-pay p:last-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: #898EA2;
  line-height: 167%;
}
@media (max-width: 991px) {
  .benefits .ben-container .fast-pay {
    height: auto;
    width: 70.3%;
  }
}
.benefits .ben-container .price-lock {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 154px;
  width: 26.75%;
}
.benefits .ben-container .price-lock p:first-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  font-size: 18px;
  color: #464855;
  margin-top: 37px;
}
.benefits .ben-container .price-lock p:last-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: #898EA2;
  line-height: 167%;
}
@media (max-width: 991px) {
  .benefits .ben-container .price-lock {
    height: auto;
    width: 66.75%;
  }
}
.benefits .ben-container .no-risk {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 154px;
  width: 31.62%;
}
.benefits .ben-container .no-risk p:first-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  font-size: 18px;
  color: #464855;
  margin-top: 37px;
}
.benefits .ben-container .no-risk p:last-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: #898EA2;
  line-height: 167%;
}
.benefits .ben-container .no-risk p:last-of-type {
  width: 82.36%;
}
@media (max-width: 991px) {
  .benefits .ben-container .no-risk {
    height: auto;
    width: 84%;
  }
}
@media (max-width: 991px) {
  .benefits .ben-container {
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 767px) {
  .benefits .ben-container {
    margin-top: 31px;
  }
}
@media (max-width: 991px) {
  .benefits {
    height: 734px;
  }
}
@media (max-width: 767px) {
  .benefits {
    height: 622px;
  }
}
.btn-align {
  line-height: 28px;
  margin-top: 143px;
}
.watches {
  display: flex;
  width: 100%;
  height: 681px;
  background: #F4F5FA;
  flex-direction: column;
}
.watches .watches-nav-bar {
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.watches .watches-nav-bar h1 {
  width: 160px;
  height: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 18px;
  text-transform: uppercase;
  color: #363743;
  padding-top: 88px;
}
@media (max-width: 991px) {
  .watches .watches-nav-bar h1 {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .watches .watches-nav-bar h1 {
    width: 100%;
    text-align: center;
  }
}
.watches .watches-nav-bar ul {
  display: flex;
  list-style-type: none;
  width: 428px;
  height: 28px;
  padding-top: 88px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
}
.watches .watches-nav-bar ul .button_nav {
  line-height: 16px;
  font-size: 14px;
  color: #6B6F81;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  position: relative;
  z-index: 2;
}
.watches .watches-nav-bar ul .button_nav.active {
  color: #666EE8;
}
.watches .watches-nav-bar ul .button_nav.active:after {
  width: 100%;
  height: 28px;
  background-color: #EDEEF4;
  border-radius: 100px;
  top: 0;
  left: -16px;
  padding: 0 16px;
  position: absolute;
  content: "";
  z-index: -1;
}
@media (max-width: 991px) {
  .watches .watches-nav-bar ul {
    padding-top: 0;
    padding-right: 15px;
    width: 380px;
  }
}
@media (max-width: 767px) {
  .watches .watches-nav-bar ul {
    margin-left: -20px;
  }
}
@media (max-width: 991px) {
  .watches .watches-nav-bar {
    height: 143px;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .watches .watches-nav-bar {
    flex-wrap: wrap;
    height: 117px;
  }
}
.watches .watches-container {
  width: 100%;
  display: flex;
  height: 401px;
  flex-wrap: wrap;
}
.watches .watches-container .watches-section {
  width: 585px;
  height: 200px;
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #EDEEF4;
  box-sizing: border-box;
}
.watches .watches-container .watches-section img {
  width: 160px;
  height: 160px;
  margin: 20px;
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section img {
    width: 120px;
    height: 120px;
    margin: 0px;
  }
}
.watches .watches-container .watches-section .best-sale {
  width: 75px;
  height: 26px;
  background: #666EE8;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  line-height: 28px;
  margin-top: 143px;
  margin-left: 50px;
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section .best-sale {
    margin-top: 126px;
    margin-left: 141px;
  }
}
.watches .watches-container .watches-section .sale {
  width: 46px;
  height: 26px;
  background: #FFBF71;
  border-radius: 4px;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  margin-top: 143px;
  margin-left: 79px;
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section .sale {
    margin-top: 126px;
    margin-left: 169px;
  }
}
.watches .watches-container .watches-section .out-of-stock {
  width: 93px;
  height: 26px;
  background: #C0C4D1;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  margin-top: 143px;
  margin-left: 32px;
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section .out-of-stock {
    margin-top: 126px;
    margin-left: 122px;
  }
}
.watches .watches-container .watches-section .watch-small-sect {
  width: 230px;
  height: 144px;
  position: relative;
}
.watches .watches-container .watches-section .watch-small-sect .color {
  width: 10px;
  height: auto;
  position: absolute;
  top: 77px;
  left: -21px;
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section .watch-small-sect .color {
    left: 1px;
    top: 76px;
  }
}
.watches .watches-container .watches-section .watch-small-sect h1 {
  width: 230px;
  height: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #464855;
  position: absolute;
  top: 18px;
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section .watch-small-sect h1 {
    top: 0;
  }
}
.watches .watches-container .watches-section .watch-small-sect .watch-color {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #AEB2C1;
  position: absolute;
  top: 83px;
  left: 16px;
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section .watch-small-sect .watch-color {
    top: 62px;
  }
}
.watches .watches-container .watches-section .watch-small-sect .price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #666EE8;
  position: absolute;
  top: 114px;
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section .watch-small-sect .price {
    top: 85px;
  }
}
.watches .watches-container .watches-section .watch-small-sect .old-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  text-decoration: line-through;
  color: #AEB2C1;
  position: absolute;
  top: 144px;
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section .watch-small-sect .old-price {
    top: 120px;
  }
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section .watch-small-sect {
    width: auto;
  }
}
@media (max-width: 767px) {
  .watches .watches-container .watches-section {
    height: 163px;
  }
}
@media (max-width: 991px) {
  .watches {
    height: 980px;
  }
}
@media (max-width: 767px) {
  .watches {
    height: 745px;
  }
}
.destinations {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 1040px;
}
.destinations header {
  width: 100%;
  height: 284px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
}
.destinations header h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #464855;
  margin-top: 108px;
}
@media (max-width: 991px) {
  .destinations header h1 {
    margin-top: 50px;
  }
}
.destinations header p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
  font-size: 16px;
  text-align: center;
  color: #6B6F81;
  padding-bottom: 45px;
}
@media (max-width: 767px) {
  .destinations header p {
    line-height: 22px;
  }
}
@media (max-width: 991px) {
  .destinations header {
    height: 160px;
  }
}
.destinations main {
  display: flex;
  justify-content: space-between;
  height: 520px;
  width: 100%;
}
.destinations main .homes {
  width: 31.624%;
  position: relative;
}
.destinations main .homes .house_img {
  width: 370px;
  height: 520px;
}
@media (max-width: 767px) {
  .destinations main .homes .house_img {
    width: 350px;
  }
}
.destinations main .homes h2 {
  position: absolute;
  height: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF;
  top: 432px;
  left: 31px;
}
.destinations main .homes h3 {
  position: absolute;
  width: 180px;
  height: 15px;
  top: 464px;
  left: 54px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  color: #FFFFFF;
}
.destinations main .homes .location {
  width: 14px;
  height: 16px;
  position: absolute;
  top: 475px;
  left: 31px;
}
.destinations main .homes p {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: right;
  color: #FFFFFF;
  top: 452px;
  right: 29px;
}
@media (max-width: 991px) {
  .destinations main .homes {
    width: auto;
  }
}
@media (max-width: 991px) {
  .destinations main {
    flex-direction: column;
    height: 1635px;
    width: auto;
    align-content: center;
  }
}
.destinations button {
  width: 250px;
  height: 56px;
  background: #666EE8;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 79px;
  border: none;
}
@media (max-width: 991px) {
  .destinations button {
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .destinations {
    height: 1950px;
  }
}
.icon_size {
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.footer {
  width: 100%;
  height: 737px;
  background: #353745;
  display: flex;
  flex-direction: column;
}
.footer h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  font-size: 14px;
  text-transform: uppercase;
  color: #A5A8BB;
}
.footer h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
  color: #7F829A;
}
.footer .up-section {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  align-items: center;
  height: 354px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .up-section .logo-container {
  width: 25.5%;
  align-self: center;
}
.footer .up-section .logo-container img {
  margin-bottom: 119px;
}
@media (max-width: 991px) {
  .footer .up-section .logo-container img {
    margin-bottom: 0px;
    margin-left: 24px;
  }
}
@media (max-width: 767px) {
  .footer .up-section .logo-container {
    width: 100%;
  }
}
.footer .up-section .company {
  width: 25.7%;
  margin-top: 3px;
}
@media (max-width: 767px) {
  .footer .up-section .company {
    width: 44.7%;
    margin-top: -23px;
    margin-left: 24px;
  }
}
.footer .up-section .about {
  width: 25.6%;
  margin-top: 3px;
}
@media (max-width: 767px) {
  .footer .up-section .about {
    width: 44.6%;
    margin-top: -23px;
  }
}
.footer .up-section .resources {
  flex: 1;
  margin-top: -63px;
}
@media (max-width: 767px) {
  .footer .up-section .resources {
    margin-top: -32px;
    margin-left: 24px;
  }
}
@media (max-width: 991px) {
  .footer .up-section {
    width: auto;
    height: 266px;
    padding: 0 800px;
  }
}
@media (max-width: 767px) {
  .footer .up-section {
    height: 411px;
    flex-wrap: wrap;
  }
}
.footer .down-section {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  flex: 1;
}
.footer .down-section .contact {
  width: 25.64%;
  margin-top: 56px;
  margin-left: -1px;
}
@media (max-width: 991px) {
  .footer .down-section .contact {
    width: 45%;
    margin-left: 24px;
    margin-top: 0px;
  }
}
.footer .down-section .visit {
  width: 25.7%;
  margin-top: 56px;
}
@media (max-width: 991px) {
  .footer .down-section .visit {
    width: 45%;
    margin-top: 0px;
  }
}
.footer .down-section .social {
  width: 25.65%;
  margin-top: 56px;
}
.footer .down-section .social .social-container {
  width: 252px;
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}
.footer .down-section .social .social-container .facebook {
  background: url('../images/facebook@2x.png');
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.footer .down-section .social .social-container .facebook.active {
  background: url('../images/to_facebook@2x.png');
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.footer .down-section .social .social-container .insta {
  background: url('../images/insta@2x.png');
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.footer .down-section .social .social-container .insta.active {
  background: url('../images/to_insta@2x.png');
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.footer .down-section .social .social-container .twit {
  background: url('../images/twit@2x.png');
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.footer .down-section .social .social-container .twit.active {
  background: url('../images/to_twit@2x.png');
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.footer .down-section .social .social-container .pint {
  background: url('../images/pint@2x.png');
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.footer .down-section .social .social-container .pint.active {
  background: url('../images/to_pint@2x.png');
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
@media (max-width: 991px) {
  .footer .down-section .social {
    width: 45%;
    margin-left: 24px;
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .footer .down-section .social {
    width: 100%;
  }
}
.footer .down-section .subscribe {
  flex: 1;
  margin-top: 57px;
}
.footer .down-section .subscribe .input-container {
  position: relative;
  width: 268px;
  height: 50px;
  margin-top: 25px;
}
.footer .down-section .subscribe .input-container input {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #6B6F81;
  padding-left: 18px;
  box-sizing: border-box;
}
.footer .down-section .subscribe .input-container input::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  font-size: 14px;
  color: #6B6F81;
}
.footer .down-section .subscribe .input-container input:-moz-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  font-size: 14px;
  color: #6B6F81;
}
.footer .down-section .subscribe .input-container input::-moz-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  font-size: 14px;
  color: #6B6F81;
}
.footer .down-section .subscribe .input-container input:-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  font-size: 14px;
  color: #6B6F81;
}
.footer .down-section .subscribe .input-container img {
  height: 16px;
  position: absolute;
  right: 18px;
  top: 17px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer .down-section .subscribe .input-container {
    width: 250px;
  }
}
@media (max-width: 991px) {
  .footer .down-section .subscribe {
    width: 45%;
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .footer .down-section .subscribe {
    width: 100%;
    margin-top: 0px;
    margin-left: 24px;
  }
}
@media (max-width: 991px) {
  .footer .down-section {
    width: auto;
    flex-wrap: wrap;
    justify-content: baseline;
    padding: 0 800px;
  }
}
.footer .copyrights {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  font-size: 14px;
  color: #898EA2;
  margin-bottom: 85px;
  margin-left: -1px;
}
@media (max-width: 991px) {
  .footer .copyrights {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0 800px;
  }
}
@media (max-width: 991px) {
  .footer {
    height: auto;
    margin-right: -800px;
    margin-left: -800px;
    width: auto;
  }
}
body {
  width: 100%;
  background: #F4F5FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper.select-device {
  background-color: #FFFFFF;
  height: 101px;
}
.wrapper.header {
  background-color: #F4F5FA;
  height: 610px;
}
@media (max-width: 991px) {
  .wrapper.header {
    height: 440px;
  }
}
@media (max-width: 767px) {
  .wrapper.header {
    height: 460px;
  }
}
@media (max-width: 991px) {
  .wrapper {
    width: 600px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    width: 350px;
  }
}
.main-container {
  max-width: 1170px;
  width: 1170px;
  height: 100%;
}
@media (max-width: 991px) {
  .main-container {
    width: 600px;
  }
}
@media (max-width: 767px) {
  .main-container {
    width: 350px;
  }
}
