.dark-text {
  opacity: 0.6;
}
.navigation-bar {
  width: 100%;
  padding: 0 0 0 30px;
  height: 48px;
  background: #666EE8;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-bar .toggle {
  background: url('../images/toggle@2x.png') no-repeat;
  background-size: 19px 14px;
  width: 19px;
  height: 14px;
  position: relative;
  margin-left: 2px;
  cursor: pointer;
  top: 6px;
  display: inline-block;
}
.navigation-bar .toggle.inactive {
  background: url('../images/toggle-inactive@2x.png') no-repeat;
  background-size: 11px 6px;
  width: 11px;
  height: 6px;
  top: -1px;
  margin-left: 8px;
}
.navigation-bar .left-pane .label {
  opacity: 0.6;
  margin-right: 9px;
  display: inline-block;
}
.navigation-bar .left-pane .contacts {
  margin-left: 35px;
}
.navigation-bar .left-pane .contacts .work-hours {
  opacity: 0.6;
  margin-right: 9px;
  display: inline-block;
}
.navigation-bar .right-pane {
  height: 100%;
  display: flex;
}
.navigation-bar .right-pane .icon-block {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 106px;
  height: 100%;
  margin: 0 18px;
}
.navigation-bar .right-pane .icon-block.small {
  width: 78px;
}
.navigation-bar .right-pane .icon-block .icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.navigation-bar .right-pane .icon-block .icon.account {
  background: url('../images/account.svg') no-repeat;
}
.navigation-bar .right-pane .icon-block .icon.cart {
  background: url('../images/cart.svg') no-repeat;
}
.navigation-bar .right-pane .search-input {
  width: 251px;
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.05);
}
.navigation-bar .right-pane .search-input input {
  outline: none;
  background: transparent;
  border: none;
  width: 175px;
  margin-left: 46px;
  margin-top: -1px;
  height: 100%;
  color: white;
}
.navigation-bar .right-pane .search-input input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}
.navigation-bar .right-pane .search-input input:-moz-placeholder {
  color: white;
  opacity: 0.5;
}
.navigation-bar .right-pane .search-input input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}
.navigation-bar .right-pane .search-input input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}
.navigation-bar .right-pane .search-input input:focus {
  outline: none;
}
.navigation-bar .right-pane .search-input .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -8px;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.select-device .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-device .container .select-input {
  display: flex;
  width: 415px;
  height: 42px;
  border-radius: 100px;
  background: #FFFFFF;
  border: 1px solid #E4E5EC;
  box-sizing: border-box;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
  align-items: center;
  padding: 0 6px;
}
.select-device .container .select-input .buy-sell {
  display: flex;
  align-items: center;
  width: 119px;
  height: 30px;
  background: #F4F5FA;
  border-radius: 100px;
  position: relative;
}
.select-device .container .select-input .buy-sell .button {
  font-size: 12px;
  text-transform: uppercase;
  color: #FF2E49;
  width: 50%;
  text-align: center;
  position: relative;
  z-index: 20;
  cursor: pointer;
  transition: color 0.3s ease-out;
}
.select-device .container .select-input .buy-sell .button.active {
  color: #fff;
}
.select-device .container .select-input .buy-sell .cell {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #35CF95;
  z-index: 10;
  border-radius: 100px;
  transition: left 0.3s ease-out;
}
.select-device .container .select-input .buy-sell .cell.right {
  left: 50%;
}
.select-device .container .select-input .select-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66%;
  padding-left: 16px;
}
.select-device .container .select-input .select-wrap .toggle {
  background: url('../images/togglenoshadow@2x.svg') no-repeat;
  background-size: 11px 7px;
  width: 11px;
  height: 7px;
  position: relative;
  cursor: pointer;
  padding-right: 7px;
}
.select-device .container .select-input .select-wrap .select-device {
  line-height: 18px;
  font-size: 14px;
  width: 130px;
  height: 18px;
  outline: none;
  background: transparent;
  border: none;
}
.select-device .container .select-input .select-wrap .select-device::-webkit-input-placeholder {
  color: #A7ABBD;
}
.select-device .container .select-input .select-wrap .select-device:-moz-placeholder {
  color: #A7ABBD;
}
.select-device .container .select-input .select-wrap .select-device::-moz-placeholder {
  color: #A7ABBD;
}
.select-device .container .select-input .select-wrap .select-device:-ms-input-placeholder {
  color: #A7ABBD;
}
.select-device .container .select-input .select-wrap .select-device:focus {
  outline: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header .left-side {
  height: 100%;
}
.header .left-side .titleText {
  width: 344px;
  height: 88px;
  margin-top: 99px;
}
.header .left-side .describe-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 38px;
  font-size: 24px;
  color: #6B6F81;
  max-width: 75.375%;
  margin-top: 5px;
}
.header .left-side .select-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  font-size: 16px;
  color: #6B6F81;
  margin-top: 102px;
}
.header .left-side .select-icon {
  width: 537px;
  height: 82px;
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #E4E5EC;
  box-sizing: border-box;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
  margin-top: 19px;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header .left-side .select-icon .icon-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #E4E5EC;
}
.header .left-side .select-icon .icon-container.watch {
  width: 104px;
  transition: background-color 0.7s ease-out;
}
.header .left-side .select-icon .icon-container.mobile {
  width: 101px;
  transition: background-color 0.7s ease-out;
}
.header .left-side .select-icon .icon-container.tablet {
  width: 108px;
  transition: background-color 0.7s ease-out;
}
.header .left-side .select-icon .icon-container.laptop {
  width: 111px;
  transition: background-color 0.7s ease-out;
}
.header .left-side .select-icon .icon-container.desktop {
  width: 111px;
  transition: background-color 0.7s ease-out;
}
.header .left-side .select-icon .icon-container.active {
  background-color: #8A91FF;
}
.ben-content-alignment {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 154px;
}
.ben-content-alignment p:first-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  font-size: 18px;
  color: #464855;
  margin-top: 37px;
}
.ben-content-alignment p:last-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: #898EA2;
  line-height: 167%;
}
.benefits {
  display: flex;
  align-items: center;
  height: 423px;
  background-color: #fff;
  flex-direction: column;
}
.benefits .ben-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 26px;
  color: #464855;
  margin-top: 71px;
}
.benefits .ben-container {
  display: flex;
  height: 154px;
  align-items: center;
  justify-content: space-between;
  margin-top: 59px;
}
.benefits .ben-container .fast-pay {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 154px;
  width: 31.3%;
}
.benefits .ben-container .fast-pay p:first-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  font-size: 18px;
  color: #464855;
  margin-top: 37px;
}
.benefits .ben-container .fast-pay p:last-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: #898EA2;
  line-height: 167%;
}
.benefits .ben-container .price-lock {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 154px;
  width: 26.75%;
}
.benefits .ben-container .price-lock p:first-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  font-size: 18px;
  color: #464855;
  margin-top: 37px;
}
.benefits .ben-container .price-lock p:last-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: #898EA2;
  line-height: 167%;
}
.benefits .ben-container .no-risk {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 154px;
  width: 31.62%;
}
.benefits .ben-container .no-risk p:first-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  font-size: 18px;
  color: #464855;
  margin-top: 37px;
}
.benefits .ben-container .no-risk p:last-of-type {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: #898EA2;
  line-height: 167%;
}
.benefits .ben-container .no-risk p:last-of-type {
  width: 82.36%;
}
.watches {
  display: flex;
  width: 100%;
  height: 681px;
  background: #F4F5FA;
}
.watches .watches-container {
  max-width: 1170px;
  width: 1170px;
  height: 100%;
}
body {
  width: 100%;
  background: #F4F5FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper.select-device {
  background-color: #FFFFFF;
  height: 101px;
}
.wrapper.header {
  background-color: #F4F5FA;
  width: 1600px;
  height: 610px;
}
.main-container {
  max-width: 1170px;
  width: 1170px;
  height: 100%;
}
