@import "mixins.less";
@import "navigation.less";
@import "normalize.less";
@import "select-device.less";
@import "header.less";
@import "benefits.less";
@import "watches.less";
@import "destination.less";
@import "footer.less";

body {
	width: 100%;
	background: @bgColor;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 14px;
	color: #FFFFFF;
	.body-regular-font();
}

.App {
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-x: hidden;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;


	&.select-device {
		background-color: #FFFFFF;
		height: 101px;
	}

	&.header {
		background-color: #F4F5FA;
		height: 610px;

		.screen-sm-max({
			height: 440px;
		});

		.screen-xs({
			height: 460px;
		})
	}

	.screen-sm-max({
		width: 600px;
	});

	.screen-xs({
		width: 350px;
	});

}

.main-container {
	max-width: 1170px;
	width: 1170px;
	height: 100%;

	.screen-sm-max({
		width: 600px;
	});

	.screen-xs({
		width: 350px;
	});
}

