
// Colors
@mainDark: #666EE8;
@mainLight: #8A91FF;
@bgColor: #F4F5FA;


// Fonts

.body-regular-font() {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.body-light-font() {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.ben-dark-font() {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 0px;
    font-size: 18px;
    color: #464855;
}

.ben-light-font() {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    color: #898EA2;
}

.watch-font() {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

//other

.placeholder(@rules) {

    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}

// animation
.change-bg-color-animation() {
    transition: background-color 0.7s ease-out;
}